---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import LI from "../components/LI.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="header">
			<h1 class="site-title">Down for now</h1>
		</div>
	</body><!-- <body> --><!-- 	<main> --><!-- 		<div class="header"> --><!-- 			<h1 class="site-title">Adin Lukas DelaCruz</h1> --><!-- 		</div> --><!-- 		<div class="bio"> --><!-- 			<h2 class="subheader">Me</h2> --><!-- 			<p> --><!-- 				I am currently an Embedded Software --><!-- 				Engineer at Bogen Communications. I have --><!-- 				graduated from the University of Central --><!-- 				Florida with a Bachelor's in Computer --><!-- 				Science. My personal hobbies include --><!-- 				gaming, enjoying time with my wife, and --><!-- 				learning new things. --><!-- 			</p> --><!-- 			<h2 class="subheader">Now</h2> --><!-- 			<p> --><!-- 				I'm learning Zig and doing --><!-- 				<a --><!-- 					href="https://craftinginterpreters.com/" --><!-- 				> --><!-- 					Crafting Interpreters</a --><!-- 				>! --><!-- 			</p> --><!-- 		</div> --><!-- 		<Footer /> --><!-- 	</main> --><!-- </body> -->
</html>
