---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BookPost from "../../components/BookPost.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
const allPosts = await Astro.glob("./books/*.md");
---

<!doctype html>
<html>
	<head>
		<style>
		</style>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<Header />
			<ul>
				{
					allPosts.map((post) => (
						<BookPost
							url={post.url}
							title={
								post.frontmatter
									.title
							}
							pubDate={
								post.frontmatter
									.pubDate
							}
						/>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
